body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container{
    width: 640px;
    margin: 0px auto;
}

.content{
    display: flex;
    margin-bottom: 24px;
}

.newList{
    margin-right: 20px;
    li{
        margin-bottom: 24px;
        display: flex;
        &:last-child{
            margin-bottom: 0px;
        }
    }
    img{
        margin-right: 20px;
    }
}

.title{
    font-size: 20px;
    line-height: 1.2;
}

footer{
    text-align: center;
    padding: 48px 0px;
}